* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: lightgray;

  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    text-decoration: none;
    margin: 1rem;
    width: calc(100vw - 2rem);
    color: black;
    text-decoration: none;

    a,
    a:visited {
      color: black;
      text-decoration: none;
      text-align: center;
    }
  }

  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem;

    h1 {
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }

    h2 {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
    }

    > p {
      max-width: 64vw;
      text-align: justify;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 0.5rem;

      &.infected {
        background-color: crimson;
        color: white;
      }

      &.dead {
        background-color: black;
        color: white;
      }
    }

    ol {
      max-width: 64vw;
      text-align: justify;

      li {
        margin-bottom: .5rem;
      }

      > ol {
        margin-left: 2rem;
        list-style: lower-roman;
      }
    }

    canvas {
      border: 2px solid black;
      padding: 0.5rem;
    }

    form {
      display: flex;
      flex-flow: row wrap;
      width: 64vw;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      label,
      p {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
      }

      label {
        width: 50%;
      }

      p {
        width: 100%;
      }

      input {
        width: calc(50% - 1rem);
        padding: 0rem;
        min-height: 2rem;
      }

      button {
        width: 50%;
        padding: 0.5rem;
        background-color: black;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        cursor: pointer;
        border: 1px solid white;
      }
    }

    div#mock__console {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
      width: 64vw;
      padding: 1rem;
      border: 2px solid white;
      background-color: black;
      color: white;
      overflow-y: auto;
      min-height: 50vh;

      p {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        font-size: 0.875rem;
      }
    }

    div#plot {
      width: 64vw;
      padding: 0rem;
      min-height: 45vh;
    }
  }
}

// Mobile
@media screen and (max-width: 768px) {
  body {
    width: 100vw;

    main {
      width: calc(100vw - 1rem);
      margin: 0.5rem;

      h1,
      h2 {
        text-align: center;
      }

      h1 {
        font-size: 1.125rem;
      }

      h2 {
        font-size: 1rem;
      }

      > p {
        max-width: 100%;
        font-size: 0.75rem;
      }

      ol {
        max-width: 100%;
        list-style-position: inside;

        li {
          font-size: 0.75rem;
          line-height: .9375rem;
        }
      }

      table,
      th,
      td {
        max-width: 100%;
        font-size: 0.75rem;
      }

      canvas {
        margin: 0.25rem;
        padding: 0.25rem;
      }

      form {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        label,
        p,
        input {
          font-size: 0.875rem;
          width: 100%;
        }

        input {
          min-height: 1rem;
        }

        button {
          padding: 0.25rem;
          font-size: 0.75rem;
        }
      }

      div#mock__console {
        width: 100%;
        padding: 0.5rem;

        p {
          font-size: 0.625rem;
        }
      }
    }
  }
}
