// Fonts
@font-face {
  font-family: "JetBrains Mono";
  src:
    url("/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 300 400 500;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    url("/fonts/JetBrainsMono-Medium.woff2") format("woff2"),
    url("/fonts/JetBrainsMono-Medium.woff") format("woff");
  font-weight: 600 700;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    url("/fonts/JetBrainsMono-Bold.woff2") format("woff2"),
    url("/fonts/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 800 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: lightgray;

  nav,
  main,
  form,
  div#mock__console,
  div#key {
    display: flex;
  }

  nav,
  main,
  form,
  div#key {
    justify-content: center;
    align-items: center;
  }

  nav {
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    width: calc(100vw - 2rem);
    color: black;
    text-decoration: none;

    a,
    a:visited {
      color: black;
      text-decoration: none;

      &.nav__disabled {
        color: gray;
        font-weight: lighter;
        pointer-events: none;
      }
    }
  }

  main {
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 0rem 2rem;

    h1,
    h2 {
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
    }

    > p {
      max-width: 64vw;
      text-align: justify;
      font-weight: 300;

      strong {
        font-weight: 900;
        text-transform: uppercase;
      }
    }

    table,
    th,
    td {
      border: 1px solid black;
      font-weight: 600;
      text-transform: uppercase;
    }

    th,
    td {
      padding: 0.5rem;

      &.infected {
        background-color: crimson;
        color: white;
      }

      &.dead {
        background-color: black;
        color: white;
      }
    }

    ol {
      max-width: 64vw;
      text-align: justify;

      li {
        margin-bottom: 0.5rem;

        strong {
          font-weight: 900;
          text-transform: uppercase;
        }
      }

      > ol {
        margin-left: 2rem;
        list-style: lower-roman;
      }
    }

    code {
      background-color: rgba(128, 128, 128, 0.425);
      padding: 0.1875rem;
      border: 1px solid dimgray;
      border-radius: 0.125rem;
      font-size: 0.875rem;

      sup {
        font-size: 0.5625rem;
      }
    }

    div.maps {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      width: 64vw;
      padding: 0rem;
      align-items: center;
      justify-content: center;

      canvas {
        border: 2px solid black;
        padding: 0.5rem;
      }
    }

    div#mock__console,
    button {
      background-color: black;
      color: white;
    }

    button {
      max-width: 50%;
      padding: 0.625rem 4rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      cursor: pointer;
    }

    form {
      flex-flow: row wrap;
      width: 36vw;
      gap: 1rem;

      label {
        width: 66.66%;
        font-weight: 300;
        text-transform: uppercase;
        user-select: auto;
        cursor: text;
      }

      input {
        width: calc(33.33% - 1rem);
        padding: .125rem;
        min-height: 2rem;
        outline: none;

        &:focus {
          border: 2px solid #202020;
        }
        
        &:invalid {
          border: 2px solid crimson;
        }
      }
    }

    div#mock__console {
      flex-flow: column nowrap;
      gap: 0.25rem;
      width: 64vw;
      padding: 1rem;
      border: 2px solid white;
      overflow-y: auto;

      p {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        font-size: 0.875rem;
      }
    }

    div#plot,
    div#toxin__plot,
    div#antitoxin__plot {
      width: 64vw;
      padding: 0rem;
      min-height: 45vh;
      background-color: white;
    }

    div#key {
      flex-flow: row nowrap;
      gap: 2rem;
      width: 64vw;

      p {
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 768px) {
  body {
    width: 100vw;

    main {
      width: calc(100vw - 1rem);
      margin: 0.5rem;

      h1,
      h2 {
        text-align: center;
      }

      h1 {
        font-size: 1.125rem;
      }

      h2 {
        font-size: 1rem;
      }

      > p {
        max-width: 100%;
        font-size: 0.75rem;
      }

      ol {
        max-width: 100%;
        list-style-position: inside;

        li {
          font-size: 0.75rem;
          line-height: 0.9375rem;
        }
      }

      table,
      th,
      td {
        max-width: 100%;
        font-size: 0.75rem;
      }

      canvas {
        margin: 0.25rem;
        padding: 0.25rem;
      }

      form {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        label,
        input {
          font-size: 0.875rem;
          width: 100%;
        }

        input {
          min-height: 1rem;
        }

        button {
          padding: 0.25rem;
          font-size: 0.75rem;
        }
      }

      div#mock__console {
        width: 100%;
        padding: 0.5rem;

        p {
          font-size: 0.625rem;
        }
      }
    }
  }
}
