<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- STANDARD -->
    <meta
      property="og:url"
      content="https://skeeter-world-l8n9v.ondigitalocean.app/experiments/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Skeeter World" />
    <meta property="og:title" content="Experiments | Skeeter World 🦟" />
    <meta
      property="og:description"
      content="Population dynamics simulation for mosquitoes infected with Wolbachia bacteria."
    />
    <meta
      property="og:image"
      content="https://skeeter-world-l8n9v.ondigitalocean.app/img/ogp.png"
    />
    <meta property="og:image:alt" content="Skeeter World" />
    <meta name="theme-color" content="#1d4d39" />
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Experiments | Skeeter World 🦟" />
    <meta name="twitter:creator" content="@JSLBrowning" />
    <meta
      name="twitter:description"
      content="Population dynamics simulation for mosquitoes infected with Wolbachia bacteria."
    />
    <meta
      name="twitter:image"
      content="https://skeeter-world-l8n9v.ondigitalocean.app/img/ogp.png"
    />
    <meta name="twitter:image:alt" content="Skeeter World" />
    <!-- END OF OGP DATA -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Experiments | Skeeter World 🦟</title>
  </head>
  <body>
    <nav>
      <a href="/">Home (Simualtion)</a>
      <a href="/experiments" class="nav__disabled">Experiments</a>
      <a href="/readme">Readme</a>
      <a href="/about">About</a>
    </nav>
    <main>
      <h2>Skeeter World 🦟</h2>
      <h1>Experiments</h1>
      <p>
        Coming soon!
      </p>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
