<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STANDARD -->
    <meta property="og:url" content="https://skeeter.world/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Skeeter World">
    <meta property="og:title" content="Skeeter World 🦟" />
    <meta property="og:description" content="Population dynamics simulation for mosquitos infected with Wolbachia bacteria." />
    <meta property="og:image" content="https://skeeter.world/img/ogp.png" />
    <meta property="og:image:alt" content="Skeeter World" />
    <meta name="theme-color" content="#938170">
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Skeeter World 🦟" />
    <meta name="twitter:site" content="@Wall_of_History" />
    <meta name="twitter:creator" content="@JSLBrowning" />
    <meta name="twitter:description" content="Population dynamics simulation for mosquitos infected with Wolbachia bacteria." />
    <meta name="twitter:image" content="https://skeeter.world/img/ogp.png" />
    <meta name="twitter:image:alt" content="Skeeter World" />
    <!-- END OF OGP DATA -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Skeeter World 🦟</title>
</head>
<body>
    <main>
        <h1>Skeeter World 🦟</h1>
        <h2>Population dynamics simulation for mosquitos infected with <em>Wolbachia</em> bacteria.</h2>
        <canvas id="world" style="display: none;"></canvas>
        <form id="start__params">
            <!-- World Parameters -->
            <label for="capacity">Cell capacity (default 64):</label>
            <input type="number" id="capacity" name="capacity">
            <p>Note: increasing the above value beyond the default will result in a slow simulation!</p>
            <label for="infected__males">Number of males to infect at outset (default 0):</label>
            <input type="number" id="infected__males" name="infected__males">
            <label for="infected__females">Number of females to infect at outset (default 5):</label>
            <input type="number" id="infected__females" name="infected__females">
            <!-- Wolbachia Parameters -->
            <label for="kill__rate">Start kill rate for <em>Wolbachia</em> (0 to 1, random by default):</label>
            <input type="number" id="kill__rate" name="kill__rate">
            <label for="rescue__rate">Start rescue rate for <em>Wolbachia</em> (0 to 1, random by default):</label>
            <input type="number" id="rescue__rate" name="rescue__rate">
            <label for="symbiote__rate">Start symbiote rate for <em>Wolbachia</em> (-0.5 to 0.5, random by default):</label>
            <input type="number" id="symbiote__rate" name="symbiote__rate">
            <label for="mutation__rate">Self-mutation rate for <em>Wolbachia</em> (0 to 1, random by default):</label>
            <input type="number" id="mutation__rate" name="mutation__rate">
            <!-- Start -->
            <button id="start" onclick="startSimulation(event)">Start Simulation</button>
        </form>
        <div id="mock__console" style="display: none;">
            
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>