<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- STANDARD -->
    <meta property="og:url" content="https://skeeter.world/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Skeeter World" />
    <meta property="og:title" content="Skeeter World 🦟" />
    <meta
      property="og:description"
      content="Population dynamics simulation for mosquitoes infected with Wolbachia bacteria."
    />
    <meta property="og:image" content="https://skeeter.world/img/ogp.png" />
    <meta property="og:image:secure_url" content="https://skeeter.world/img/ogp.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta property="og:image:alt" content="Skeeter World" />
    <meta name="theme-color" content="#1d4d39" />
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Skeeter World 🦟" />
    <meta name="twitter:creator" content="@JSLBrowning" />
    <meta
      name="twitter:description"
      content="Population dynamics simulation for mosquitoes infected with Wolbachia bacteria."
    />
    <meta name="twitter:image" content="https://skeeter.world/img/ogp.png" />
    <meta name="twitter:image:alt" content="Skeeter World" />
    <!-- END OF OGP DATA -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Skeeter World 🦟</title>
  </head>
  <body>
    <nav>
      <a href="/" class="nav__disabled">Simulation</a>
      <a href="/readme">Readme</a>
      <a href="/about">About</a>
    </nav>
    <main>
      <h1>Skeeter World 🦟</h1>
      <h2>
        Population dynamics simulation for mosquitoes infected with
        <em>Wolbachia</em> bacteria.
      </h2>
      <div class="maps">
        <canvas id="world" style="display: none"></canvas>
        <canvas id="water" style="display: none"></canvas>
      </div>
      <div id="key" style="display: none">
        <p style="color: red">Uninfected</p>
        <p style="color: blue">Infected</p>
        <p style="color: CornflowerBlue;">Water</p>
        <p style="color: forestgreen">Dry Land</p>
      </div>
      <form id="start__params">
        <!-- World Parameters -->
        <label for="infected__males"
          >Number of males to infect at outset (default 16):</label
        >
        <input type="text" id="infected__males" name="infected__males" />
        <label for="infected__females"
          >Number of females to infect at outset (default 32):</label
        >
        <input type="text" id="infected__females" name="infected__females" />
        <!-- Wolbachia Parameters -->
        <label for="kill__rate"
          >Initial CI rate for <em>Wolbachia</em> (0 to 1, 1 by
          default):</label
        >
        <input type="text" id="kill__rate" name="kill__rate" />
        <label for="rescue__rate"
          >Initial CI rescue rate for <em>Wolbachia</em> (0 to 1, 1 by
          default):</label
        >
        <input type="text" id="rescue__rate" name="rescue__rate" />
        <!-- Simulation Parameters -->
        <label for="duration">Duration of simulation (default 730 days):</label>
        <input type="text" id="duration" name="duration" />
        <label for="repeats">Number of times to run each simulation (default 3):</label>
        <input type="number" id="repeats" name="repeats" />
        <!-- Start -->
        <button id="start" onclick="startExperiment(event)">
          Start Simulation
        </button>
      </form>
      <div id="plot" style="display: none"></div>
      <div id="toxin__plot" style="display: none"></div>
      <div id="antitoxin__plot" style="display: none"></div>
      <div id="mock__console" style="display: none"></div>
    </main>
    <script src="/js/main.js"></script>
    <script src="/js/plotly-2.34.0.min.js" charset="utf-8"></script>
  </body>
</html>
